.cardIconHeader {
	list-style-image: url("chrome://cardbook/skin/abcard.svg");
}

treechildren::-moz-tree-image(cardIcon) {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.png");
}

treechildren::-moz-tree-image(cardIcon, MailList) {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/ablist.png");
}

@media (min-resolution: 2dppx) {
	treechildren::-moz-tree-image(cardIcon) {
		list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook@2x.png");
		-moz-image-region: rect(0px 160px 32px 128px);
	}
	
	treechildren::-moz-tree-image(cardIcon, MailList) {
		list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook@2x.png");
		-moz-image-region: rect(0px 64px 32px 32px);
	}
}

menuitem[isAList="false"] {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.png");
}
menuitem[isAList="true"] {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/ablist.png");
}
